ion-app {
  --ion-font-family: "Karla";
  max-width: 1000px;
  margin: 0 auto;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ion-title,
  ion-card-title {
    font-family: "Inter";
    font-weight: bold;
  }
  font-family: "Karla";
}

.quizAnswerButton {
  height: 80px;
  font-size: 1.1rem;
}

ion-grid.quizContainer {
  margin-top: 6vh;
}

ion-row.leaderboardEntry {
  margin-bottom: 12px;
}

.mini {
  font-size: 0.8rem;
}

a:link {
  text-decoration: none;
}

hr {
  background: black;
}

#publicHome {
  ion-img {
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
  }
  ion-card {
    background: none;
    box-shadow: none;
  }
}

#homePage {
  ion-img.headerImage {
    max-width: 300px;
    margin: 0 auto;
  }
  .headerImage {
    max-width: 300px;
    margin: 0 auto;
  }
  ion-progress-bar {
    height: 1rem;
    border-radius: 0.5rem;
  }
}

.glowFilter {
  -webkit-filter: drop-shadow(0 0 12px rgb(98, 114, 164));
  filter: drop-shadow(0 0 12px rgb(98, 114, 164));
}

.loginBox,
.registerBox {
  ion-title {
    text-align: center;
    margin-bottom: 20px;
  }

  ion-img {
    max-width: 280px;
    margin: 0 auto;
  }

  margin-top: 50px;

  ion-list {
    max-width: 400px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    ion-img {
      max-width: 400px;
    }
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-60%);
  }
}

.registerBox {
  ion-icon {
    margin-right: 20px;
  }

  padding: 20px;
}

.subModule {
  ion-card {
    max-width: 500px;

    ion-card-content {
      p {
        font-size: 1.2em;
      }
    }
  }
}

.leaderboardPage {
  ion-img {
    margin: 0 auto;
    max-width: 200px;
  }
  @media screen and (min-width: 768px) {
    ion-img {
      max-width: 500px;
    }
  }
}

.sideMenu {
  ion-img {
    margin: 0 auto;
  }
}

.aboutPage {
  ion-img {
    margin: 0 auto;
    max-width: 300px;
  }
  @media screen and (min-width: 768px) {
    ion-img {
      max-width: 400px;
    }
  }
}

ion-img,
img {
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  hr {
    background: gray;
  }
}
