ion-app{
  --ion-font-family: 'Karla';
  h1,h2,h3,h4,h5,h6, ion-title, ion-card-title{
    font-family: 'Inter';
    font-weight: bold;
  }
  font-family: 'Karla';
}

ion-button.quizAnswerButton{
  /* --background: rgb(195,254,255); */
}

ion-col.chapterList{
  @media screen and (min-width:768px) {
    display: flex;
    ion-card{
      flex-basis: 50%;
    }
  } 
}

a:link{
  text-decoration: none;
}

#homePage ion-progress-bar{
  height: 1rem;
  border-radius: 0.5rem;
}

.loginBox, .registerBox{
  ion-title{
    text-align: center;
    margin-bottom: 20px;
  }

  margin-top: 50px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.registerBox{
  ion-icon{
    margin-right: 20px;
  }

  padding:20px;
}