/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-background-color: #fff;

  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /* insta */
  --ion-color-insta: #9878dd;
  --ion-color-insta-rgb: 152, 120, 221;
  --ion-color-insta-contrast: #000000;
  --ion-color-insta-contrast-rgb: 0, 0, 0;
  --ion-color-insta-shade: #866ac2;
  --ion-color-insta-tint: #a286e0;

  /* youtube */
  --ion-color-youtube: #ff0000;
  --ion-color-youtube-rgb: 255, 0, 0;
  --ion-color-youtube-contrast: #ffffff;
  --ion-color-youtube-contrast-rgb: 255, 255, 255;
  --ion-color-youtube-shade: #e00000;
  --ion-color-youtube-tint: #ff1a1a;

  /* darkcream */
  --ion-color-darkcream: #ccb8b8;
  --ion-color-darkcream-rgb: 204, 184, 184;
  --ion-color-darkcream-contrast: #000000;
  --ion-color-darkcream-contrast-rgb: 0, 0, 0;
  --ion-color-darkcream-shade: #b4a2a2;
  --ion-color-darkcream-tint: #d1bfbf;

  /* purple */
  --ion-color-purple: #bd93f9;
  --ion-color-purple-rgb: 189, 147, 249;
  --ion-color-purple-contrast: #000000;
  --ion-color-purple-contrast-rgb: 0, 0, 0;
  --ion-color-purple-shade: #a681db;
  --ion-color-purple-tint: #c49efa;

  /** success **/
  --ion-color-success: #50fa7b;
  --ion-color-success-rgb: 80, 250, 123;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #46dc6c;
  --ion-color-success-tint: #62fb88;

  /** warning **/
  --ion-color-warning: #ffb86c;
  --ion-color-warning-rgb: 255, 184, 108;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0a25f;
  --ion-color-warning-tint: #ffbf7b;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

.ion-color-primary {
  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-rgb: var(--ion-color-primary-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
}

.ion-color-secondary {
  --ion-color-base: var(--ion-color-secondary);
  --ion-color-base-rgb: var(--ion-color-secondary-rgb);
  --ion-color-contrast: var(--ion-color-secondary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb);
  --ion-color-shade: var(--ion-color-secondary-shade);
  --ion-color-tint: var(--ion-color-secondary-tint);
}

.ion-color-tertiary {
  --ion-color-base: var(--ion-color-tertiary);
  --ion-color-base-rgb: var(--ion-color-tertiary-rgb);
  --ion-color-contrast: var(--ion-color-tertiary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tertiary-contrast-rgb);
  --ion-color-shade: var(--ion-color-tertiary-shade);
  --ion-color-tint: var(--ion-color-tertiary-tint);
}

.ion-color-insta {
  --ion-color-base: var(--ion-color-insta);
  --ion-color-base-rgb: var(--ion-color-insta-rgb);
  --ion-color-contrast: var(--ion-color-insta-contrast);
  --ion-color-contrast-rgb: var(--ion-color-insta-contrast-rgb);
  --ion-color-shade: var(--ion-color-insta-shade);
  --ion-color-tint: var(--ion-color-insta-tint);
}

.ion-color-youtube {
  --ion-color-base: var(--ion-color-youtube);
  --ion-color-base-rgb: var(--ion-color-youtube-rgb);
  --ion-color-contrast: var(--ion-color-youtube-contrast);
  --ion-color-contrast-rgb: var(--ion-color-youtube-contrast-rgb);
  --ion-color-shade: var(--ion-color-youtube-shade);
  --ion-color-tint: var(--ion-color-youtube-tint);
}

.ion-color-darkcream {
  --ion-color-base: var(--ion-color-darkcream);
  --ion-color-base-rgb: var(--ion-color-darkcream-rgb);
  --ion-color-contrast: var(--ion-color-darkcream-contrast);
  --ion-color-contrast-rgb: var(--ion-color-darkcream-contrast-rgb);
  --ion-color-shade: var(--ion-color-darkcream-shade);
  --ion-color-tint: var(--ion-color-darkcream-tint);
}

.ion-color-purple {
  --ion-color-base: var(--ion-color-purple);
  --ion-color-base-rgb: var(--ion-color-purple-rgb);
  --ion-color-contrast: var(--ion-color-purple-contrast);
  --ion-color-contrast-rgb: var(--ion-color-purple-contrast-rgb);
  --ion-color-shade: var(--ion-color-purple-shade);
  --ion-color-tint: var(--ion-color-purple-tint);
}

.dark ion-card {
  --background: var(--ion-color-tertiary);
  --color: var(--ion-text-color);
}

/*
 * Dark Colors
 * -------------------------------------------
 */
body.dark {
  --ion-color-step-50: #32343f;
  --ion-color-step-100: #3d3f49;
  --ion-color-step-150: #474952;
  --ion-color-step-200: #52535c;
  --ion-color-step-250: #5c5e65;
  --ion-color-step-300: #66686e;
  --ion-color-step-350: #717278;
  --ion-color-step-400: #7b7c81;
  --ion-color-step-450: #86878b;
  --ion-color-step-500: #909194;
  --ion-color-step-550: #9a9b9d;
  --ion-color-step-600: #a5a6a7;
  --ion-color-step-650: #afb0b0;
  --ion-color-step-700: #bababa;
  --ion-color-step-750: #c4c5c3;
  --ion-color-step-800: #cecfcc;
  --ion-color-step-850: #d9d9d6;
  --ion-color-step-900: #e3e3df;
  --ion-color-step-950: #eeeee9;

  /** primary **/
  --ion-color-primary: #8be9fd;
  --ion-color-primary-rgb: 139, 233, 253;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #7acddf;
  --ion-color-primary-tint: #97ebfd;

  /** secondary **/
  --ion-color-secondary: #6272a4;
  --ion-color-secondary-rgb: 98, 114, 164;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #566490;
  --ion-color-secondary-tint: #7280ad;

  /** tertiary **/
  --ion-color-tertiary: #44475a;
  --ion-color-tertiary-rgb: 68, 71, 90;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #3c3e4f;
  --ion-color-tertiary-tint: #57596b;

  --ion-background-color: #282a36;
  --ion-background-color-rgb: 40, 42, 54;

  --ion-text-color: #f8f8f2;
  --ion-text-color-rgb: 248, 248, 242;

  --color: #6272a4;
  --ion-toolbar-background: #44475a;
}
